[Unit]
Description=Buildd for all as Docker instance
After=network-online.target
Requires=network-online.target

[Service]
ExecStart=docker run --rm -t --privileged --hostname buildd-all --mount type=bind,source=/srv/buildd/all,target=/srv/buildd --domainname ci.tmaxos.net --name buildd-all harbor.tmaxos.net/infra/buildd-all:1.0.0
ExecStop=docker stop buildd-amd64

[Install]
WantedBy=multi-user.target
Alias=buildd-all.service
